*.obj
.vs/LightFieldCSharpAddInSamples/FileContentIndex/94b0563a-b7a5-41b2-993e-bae1901cefeb.vsidx
.vs/LightFieldCSharpAddInSamples/FileContentIndex/a3ef5064-dc29-4595-af2c-0bb5bfeb73ee.vsidx
.vs/LightFieldCSharpAddInSamples/FileContentIndex/caa9cd28-6fb9-400e-b080-ef9068ce375a.vsidx
